/* General Styles */
*{
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.logo img{
    hrem: 4px;
}

.navbar{
    background-color: burlywood;
}