/* CSS for London House of Coffee */

@font-face {
    font-family: Didot;
    src: url(/main_draft/assets/didot-2/Didot.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Didot, sans-serif;
    color: white;
}

html{
    scroll-behavior: smooth ;
}

body {
    width: 100%;
    margin: 0;
    background-image: url(/main_draft/assets/images/bright_bckg.png);
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

header {
    width: 100%;
    padding: 0px 10px 0 10px;
    position: fixed; /* Making the header relatively positioned */
    z-index: 10;
}

.landing_page{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.575);
}

/* Primary logo */
img.primary_logo {
    position: absolute; /* Positioning the logo absolutely */
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    max-height: 130px;
    width: auto;
    /*
    background-color: rgba(0, 0, 0, 0.575); */
    z-index: 11; /* Ensuring the logo is above other content */
}

.primary_logo:hover{
    background-color: rgba(0, 0, 0, 0.350);
}

.nav_container {
    top: 67px;
    background-color: none;
    border: 0;
    display: flex;
    justify-content: space-between;
    position: relative; /* Making the nav container relatively positioned */
    z-index: 0; /* Ensuring the nav is behind the logo */
}

.LPfooter{
    background-color: none;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 200px 20px 0 20px;
}

.FLS a, .FRS a{
    text-decoration: none;
}

.left_side, .right_side {
    list-style-type: none;
}

/* Bar separating nav elements */
.left_side li, .right_side li {
    display: inline-block;
    color: white;
    font-size: 15pt;
    font-weight: bold;
}

.left_side li a, .right_side li a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 13pt;
    padding: 14px 16px;
    font-weight: bold;
}

.left_side li a:hover, .right_side li a:hover{
     background-color: rgba(0, 0, 0, 0.575);
}

/*          HALLMARK            */

.Hallmark{
    position: relative;
    top: 145px;
}

.line01{
    font-size: 67px;
    font-weight: bold;
}
.line02{
    font-size: 35px;
    font-weight: bold;
}
.line03, .line04{
    font-size: 35px;
    font-weight: 50;
    font-style: italic;
}

/*          CLAIM INFO          */

.Claim_Info {
    color: white;
    display: flex; /* Using flexbox to align elements in a row */
    justify-content: space-between; /* Ensuring equal space between elements */
    max-width: 80%; /* Adjust as needed */
    margin: 0 auto; /* Centering the container */
    margin-bottom: 0;
    position: relative;
    top: 180px;
    z-index: 4;
}

.A_O, .H_G, .S_O, .F_G_S{
    width: 240px;
    background-color: #071810;
    padding-top: 10px;
}

.P {
    font-style: italic;
    max-width: 150px;
    margin: 20px auto;
}

/*          LANDING PAGE ENDS           */

/*          SERVICES            */

.services_page {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    background-color: rgba(41, 1, 0, 0.575);
}

.SH1{
    font-size: 30px;
    background-color: #290100;
}

.services_list{
    list-style-type: none;
    font-size: 22px;
    font-weight: 800;
    padding: 2% 0 2% 10%;
    text-align: left;
}

.services_list a{
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
    z-index: 10;
}

.services_list a:hover {
    background-color: rgba(41, 1, 0, 0.575);
}


        /*  MENUS    */

.menus_page {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    background-color: rgba(136, 77, 24, 0.450);
}

.MH1{
    background-color: rgb(136, 77, 24);
}

        /*  GALLERY    */

.gallery_page {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}

        /*  LEGACY    */

.legacy_page {
    height: 100vh;
    background-image: url(/main_draft/assets/images/bw_bckg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}

.LH1{
    font-size: 35px;
}


        /*  RESERVATIONS    */

.reservations_page {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    background-color: #16313893;
}

        /*  CAREERS    */

.careers_page {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    background-color: #44747293;
}

        /*  CONTACT    */

.contact_page {
    height: 100vh;
    background-image: url(/main_draft/assets/images/bckg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    background-color: #30303093;
}


.services_page, .menus_page, .gallery_page, .legacy_page, .reservations_page, .careers_page, .contact_page{
}


.services_content, .menus_content, .gallery_content, .legacy_content, .reservations_content, .careers_content, .contact_content{
    position: relative;
    padding: 155px 0 0 0;
}
