/* CSS for London House of Coffee */

@font-face {
    font-family: Didot;
    src: url(/main_draft/assets/didot-2/Didot.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Didot, sans-serif;
}

body {
    width: 97%;
    margin: 0 auto;
    background-image: url(/main_draft/assets/images/bckg.png);
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

header {
    position: relative; /* Making the header relatively positioned */
}

/* Primary logo */
img.primary_logo {
    position: absolute; /* Positioning the logo absolutely */
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    max-height: 130px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.575);
    z-index: 5; /* Ensuring the logo is above other content */
}

.nav_container {
    position: absolute;
    top: 67px;
    background-color: none;
    border: 0;
    display: flex;
    justify-content: space-between;
    position: relative; /* Making the nav container relatively positioned */
    z-index: 0; /* Ensuring the nav is behind the logo */
}

.left_side, .right_side {
    list-style-type: none;
}

/* Bar separating nav elements */
.left_side li, .right_side li {
    display: inline-block;
    color: white;
    font-size: 15pt;
    font-weight: bold;
}

.left_side li a, .right_side li a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 13pt;
    color: white;
    padding: 14px 16px;
    font-weight: bold;
}

.left_side li a:hover, .right_side li a:hover {
     background-color: rgba(0, 0, 0, 0.575);
}

.Hallmark{
    color: white;
    position: relative;
    top: 125px;
}

.line01{
    font-size: 67px;
    font-weight: bold;
}
.line02{
    font-size: 35px;
    font-weight: bold;
}
.line03, .line04{
    font-size: 35px;
    font-weight: 50;
    font-style: italic;
}

.Claim_Info {
    color: white;
    display: flex; /* Using flexbox to align elements in a row */
    justify-content: space-between; /* Ensuring equal space between elements */
    max-width: 80%; /* Adjust as needed */
    margin: 0 auto; /* Centering the container */
    position: relative;
    top: 180px;
    z-index: 4;
}

.A_O, .H_G, .S_O, .F_G_S{
    width: 240px;
    background-color: #071810;
    padding-top: 10px;
}

.P {
    font-style: italic;
    max-width: 150px;
    margin: 20px auto;
}



.container {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 230px); /* Set the width of each column to 200px */
    gap:65px; /* Adjust the spacing between rectangles */
    position: relative;
    left: 110px;
    bottom: 100px;
}

.rectangle {
    background-color: #071810;
    width: 230px;
    height: 300px;
    position: relative;
    bottom: 0;
    left: 55%; /* Move the rectangle to the center horizontally */
    transform: translateX(-50%); /* Center align the rectangle */
}